@model IEnumerable<DBL.Models.Products>
@{
    ViewData["Title"] = "Productlist";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped table-responsive-sm table-sm compact nowrap" id="Productliststable">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price per Product</th>
                            <th>Reorder Level</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.Productname</td>
                                <td>@data.Quantity</td>
                                <td>@data.Price</td>
                                <td>@data.Reorderlevel</td>
                                <td><a href="#" onclick="Makeasale('@data.Productid')" class="btn btn-sm btn-info text-white">Sale</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $("#Productliststable").DataTable();
        function Makeasale(productid) {
            $.ajax({
                type: "POST",
                url: "/Product/Makeasale",
                data: { id:productid},
                success: function (response) {
                    setTimeout(function () { location.reload(); }, 2000);
                    var Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    });
                    if (response.respStatus == 0) {
                        Toast.fire({
                            icon: 'success',
                            title: response.respMessage
                        })
                    } else if (response.respStatus == 1) {
                        Toast.fire({
                            icon: 'error',
                            title: response.respMessage
                        })
                    }
                    else {
                        Toast.fire({
                            icon: 'error',
                            title: 'Sorry!, Database error occured. Contact Admin'
                        })
                    }
                }
            });
        }
    </script>
}